@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form asp-action="ChangePassword" method="post">
    <input type="type" name="Password" value="" />
    <input type="type" name="Password" value="" />

    <button type="submit">Ubah</button>

</form>